body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:whitesmoke;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(50, 45, 45);
    width: 850px;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 5px;
    font-size: 16px;
}
button {
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    
}
button:hover {
    background-color: lightgreen;
}
